body {
  margin: 0;
  padding: 0;
}
header {
  background-color: black;
  padding: 10px;
}
header h1 {
  padding: 5px;
  background-color: black;
  color: white;
  border: solid;
  border-width: 0px;
  font-size: 40px;
  text-align: center;
  letter-spacing: 2px;
}
header nav{
display:flex;
justify-content: space-around;
}
header nav a {
  color: white;
  font-size: 25px;
  padding: 5px;
}

h1 {
  display:flex;
  justify-content: center;
  padding: 8px;
}

nav li {
  font-size: 20px;
  color: black;
  word-spacing: 10px;
  padding: 10px;
  text-decoration: none;
}
h3 {
  font-size: 25px;
  padding: 5px;
  background-color: gray;
  letter-spacing: 3px;
  color: white;
}
nav a:hover{
text-decoration: underline;
background:darkgray;
}


body {
  background-color: lightgray;
}
img{
padding:center;

}
p{
 font-size: 15px;
  padding-right: 100px;
  line-height: 30px;
  background-color: lightgray;
}
footer{
background: darkgray;
padding:10px;
text-align:center;
}
div nav{
display:flex;
justify-content: space-around;
background: black;
}
div nav a{
background: darkgray;
color: white;
padding: 10px;
text-decoration: none;
}
div h3{
display: flex;
justify-content: center;
}


.content-left {
  flex: 0 0 80%;

}

.content-right {
  flex: 0 0 20%;
  align-self: center;
  padding: 10px;
}
.content{
display:flex;
}
